
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>打标签平台-注册</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <script type="text/javascript" src="../../static/js/host.js"></script>
    <script type="text/javascript" src="../../static/js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="../../static/js/axios-0.18.0.min.js"></script>
<!--    <script>-->
<!--&lt;!&ndash;        var user_id = sessionStorage.user_id || localStorage.user_id;&ndash;&gt;-->
<!--&lt;!&ndash;        var token = sessionStorage.token || localStorage.token;&ndash;&gt;-->
<!--&lt;!&ndash;        if (!(user_id && token)) {&ndash;&gt;-->
<!--&lt;!&ndash;            location.href = '/login?next=/static/register.html';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--    </script>-->
</head>
<body>
    <div class="register_con">
        <div class="l_con fl">
            <a class="reg_logo"><img src="../../static/images/logo.png"></a>
            <div class="reg_slogan">打标签平台 · 欢迎光临</div>
            <div class="reg_banner"></div>
        </div>

        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>添加项目</h1>
<!--                <a href="/login">登录</a>-->
            </div>
            <div class="reg_form clearfix" id="app" v-cloak>
                <form id="reg_form" @submit.prevent="on_submit">
                <ul>
                    <li>
                        <label>项目名称:</label>
                        <input type="text" v-model="project_name" @blur="check_projectname" name="project_name" id="user_name">
                        <span v-show="error_name" class="error_tip">{{ error_name_message }}</span>
                    </li>
<!--                    <li>-->
<!--                        <label>密码:</label>-->
<!--                        <input type="password" v-model="password" @blur="check_pwd" name="pwd" id="pwd">-->
<!--                        <span v-show="error_password" class="error_tip">密码最少8位，最长20位</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <label>确认密码:</label>-->
<!--                        <input type="password" v-model="password2" @blur="check_cpwd" name="cpwd" id="cpwd">-->
<!--                        <span v-show="error_check_password" class="error_tip">两次输入的密码不一致</span>-->
<!--                    </li>-->
                    <li>
                        <label>项目经理:</label>
                        <input type="text" v-model="owner" name="owner" id="phone">
                        <span v-show="error_phone" class="error_tip">{{ error_phone_message }}</span>
                    </li>
<!--                    <li>-->
<!--                        <label>图形验证码:</label>-->
<!--                        <input type="text" v-model="image_code" @blur="check_image_code" name="pic_code" id="pic_code" class="msg_input">-->
<!--                        <img :src="image_code_url" @click="generate_image_code" alt="图形验证码" class="pic_code">-->
<!--                        <span v-show="error_image_code" class="error_tip">{{ error_image_code_message }}</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <label>短信验证码:</label>-->
<!--                        <input type="text" v-model="sms_code" @blur="check_sms_code" name="msg_code" id="msg_code" class="msg_input">-->
<!--                        <a @click="send_sms_code" class="get_msg_code">{{ sms_code_tip }}</a>-->
<!--                        <span v-show="error_sms_code" class="error_tip">{{ error_sms_code_message }}</span>-->
<!--                    </li>-->
<!--                    <li class="agreement">-->
<!--                        <input type="checkbox" v-model="allow" @change="check_allow" name="allow" id="allow">-->
<!--                        <label>同意”美多商城用户使用协议“</label>-->
<!--                        <span v-show="error_allow" class="error_tip2">请勾选同意</span>-->
<!--                    </li>-->
                    <li class="reg_sub">
                        <input type="submit" value="注 册" name="">
                    </li>
                </ul>
                </form>
            </div>

        </div>

    </div>

    <div class="footer no-mp">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
        <p>电话：010-****888    京ICP备*******8号</p>
    </div>
    <script type="text/javascript" src="../../static/js/register2.js"></script>
</body>
</html>